@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h3>My name is Olena Kut</h3>
    <p>This is my first ASP.NET Core Web Application deployed to Azure</p>
    <p>And this is from folder</p>
    <p>And from the local repos</p>
</div>
